@import '../../layouts/theme.scss';
@import '../../layouts/gatstrap.scss';

.footer {
    justify-content: center;
    align-content: center;
    background-color: map-get($theme-colors, secondary);
    padding: 8px;

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;

    .notice-container {
        display: flex;
        align-content: center;
        align-items: center;

        .copyright {
            display: flex;
            flex: 1;
            justify-content: flex-start;

            @media (max-width: 640px - 1px) {
                justify-content: center;
            }
        }

        h4 {
            color: map-get($theme-colors, textDark);
            text-align: center;
            margin: 0;
        }
    }
}
